.narrowRow .row {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.3rem !important;
  padding-top: 0.3rem !important;
}

.narrowContainer {
  padding: 10px;
  margin: auto;
  max-width: 700px;
}
.wideContainer {
  padding: 10px;
  margin: auto;
  max-width: 1200px;
}
.fixed {
  position: fixed;
  z-index: 100;
}

.fullscreen {
  width: 100vw !important;
}

.printPage {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1999;
  display: block;
  overflow: auto;
  background-color: white;
}

.applicant-break {
  page-break-after: always;
  padding-top: 1cm !important;
  padding-left: 1.6cm !important;
  padding-right: 1cm !important;
  padding-bottom: 1cm !important;
  margin: 0 !important;
}

@media print {
  @page {
    margin: 0;
  }
  body,
  head {
    visibility: hidden;
  }
  .toolbar {
    display: none;
  }
  #section-to-print,
  #section-to-print * {
    visibility: visible;
    overflow: visible;
  }
}
.signPlaceMark {
  position: relative;
}
.signPlace::after {
  position: absolute;
  top: 15px;
  transform: translateX(-95px);
  content: '(подпись)';
}
